* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* remove input type number arows  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox remove number input arrow */
input[type="number"] {
  -moz-appearance: textfield;
}

/* hide eye icon from password input  */
.password-input-eye-btn-hide::-ms-reveal,
.password-input-eye-btn-hide::-ms-clear {
  display: none;
}